{
  presets: [
    ['env', {
      targets: {
        browsers: ['last 2 versions'],
      },
    }],
  ],
  env: {
    test: {
      plugins: ['istanbul'],
    }
  },
  plugins: [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
