layout: index
description: Full feature ParaViewWeb application
subtitle: The ParaView like application in the Web
cmd: npm install -g pvw-visualizer
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://www.npmjs.com/package/pvw-visualizer").link Releases
        img(style="padding-left: 25px",src="https://badge.fury.io/js/pvw-visualizer.svg")
      p.intro-feature-desc ParaView Visualizer is available via npm and should be used via Webpack or Browserify within your project using standard ES6 import syntax for embedded usage.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.kitware.com/products/support.html").link Support and Services
      p.intro-feature-desc Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.

center
  img(style="margin: 0.5%", src="/visualizer/screenshots/paraviewweb-visualizer.jpg", width="90%")
